{% extends 'shop/base.html' %}
{% block title %}Реєстрація{% endblock %}
{% load static %}
{% block content %}
<div class="login-register-area pt-100px pb-100px">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                <div class="login-register-wrapper">
                    <div class="login-register-tab-list nav">
                        <a href="#" class="active">
                            <h4>Зареєструватися</h4>
                        </a>
                    </div>
                    <div class="tab-content">
                        <div id="lg2" class="tab-pane active">
                            <div class="login-form-container">
                                <div class="contact-form">
                                    <form class="contact-form-style" method="post">
                                    {% csrf_token %}
                                        {% for f in form %}
                                        <p>{{ f }}</p>
                                        <div class="form-error">{{ f.errors }}</div>
                                        {% endfor %}
                                        <div class="button-box">
                                            <button class="btn btn-primary" type="submit"><span>Реєстрація</span></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}